/* ============= VARIABLES ============= */
:root {
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --accent-color: #404BBF;
    --third-color: #4D5AE5;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.accent-color {
    color: var(--accent-color);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    }

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    
/* ============= COMMON STYLES ============= */

/* ============= PAGE HEADER ============= */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    justify-content: space-between;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.logotype {
    display: flex;
    align-items: center;
    margin-right: 76px;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--third-color);
}

.logotype-text-first-color {
    color: var(--primary-color);
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    display: block;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--primary-color);
    transition: color var(--transition-dur-and-func);
}

.menu-first,
.menu-second {
    position: relative;
    color: var(--accent-color);
    }

.menu-first::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.menu-second::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 66px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contacts {
    font-style: normal;
}

.adress {
    display: flex;
    gap: 40px;
}

.adress-link {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    letter-spacing: 0.32px;
    color: var(--secondary-color);
    transition: color var(--transition-dur-and-func);
}

.menu-link,
.adress-link {
    padding: 24px 0;
}

.menu-link:hover, 
.adress-link:hover,
.menu-link:focus, 
.adress-link:focus {
    color: var(--accent-color);
}

/* ============= PAGE HEADER ============= */

/* ================ COMPONENTS ================ */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
}
/* ================ /COMPONENTS ================ */

/* ================ HERO ================ */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-size: cover;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-service-btn {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    text-align: center;
    background-color: var(--third-color);
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition-dur-and-func);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
/* ================ HERO ================ */

/* ================ BENEFITS ================ */
.page-section-container {
    display: flex;
    gap: 24px
    }

.benefits-list {
    display: flex;
    gap: 24px
}

.benefits-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--primary-color);
    margin-bottom: 8px
}

.benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--secondary-color);
}

.benefits-icon {
    border-radius: 4px;
    background-color: #F4F4FD;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* ================ /BENEFITS ================ */

/* ================ WHAT ARE WE DOING ================ */
.what-doing-list {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.what-doing-list-item {
    flex-basis: calc((100% - 48px) / 3);
    text-align: center;
}

/* ================ /WHAT ARE WE DOING ================ */

/* ================ OUR TEAM ================ */
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team {
    background-color: #F4F4FD;
}

.team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title, .products-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--primary-color);
}

.team-profession, .products-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--secondary-color);
}

.team-position {
    text-align: center;
    margin-bottom: 8px;
}

.section-worker {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* ================ /OUR TEAM ================ */

/* ================ CUSTOMERS ================ */
.customers-list {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.customers-list-item {
    flex-basis: calc((100% - 48px) / 6);
    text-align: center;
}

.customers-icon {
    fill: #8E8F99;
    border-radius: 4px;
    transition: color var(--transition-dur-and-func);
}

.customers-icon:hover,
.customers-icon:focus {
    fill: var(--third-color);
}
/* ================ /CUSTOMERS ================ */

/* ================ FOOTER ================ */
.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--primary-color);
}

.logotype-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logotype-text-secondary-color {
    color: #F4F4FD;
}
.footer-tagline {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #F4F4FD;
    max-width: 264px;
}

.page-footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrapper {
    margin-right: 120px
}

.footer-icon-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    border-radius: 50%;
}

.footer-icon-item:hover,
.footer-icon-item:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: #F4F4FD;
}
/* ================ /FOOTER ================ */

/* ================ PORTFOLIO ================ */
.buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.products-list-item {
    flex-basis: calc((100% - 48px) / 3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #F4F4FD;
    padding: 40px 32px 32px;
    letter-spacing: 0.32px;
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
}

.products-list-item:hover .overlay {
    transform: translateY(0%);
}

.products-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.products-list-title {
    margin-bottom: 8px;
}

.section-products {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.sort-btn {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    text-align: center;
    background-color: #F4F4FD;
    color: var(--third-color);
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color var(--transition-dur-and-func);
}

.sort-btn:hover,
.sort-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent
}

/* ================ /PORTFOLIO ================ */

/* ================ BACKDROP ================ */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/* ================ /BACKDROP ================ */

/* ================ MODAL WINDOW ================ */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform var(--transition-dur-and-func);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    fill: var(--primary-color);
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: var(--transition-dur-and-func);
}

.close-btn:hover,
.close-btn:focus {
        background-color: var(--accent-color);
        fill: #FFFFFF;
        border: none;
}
/* ================ /MODAL WINDOW ================ */